* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Inconsolata", monospace;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  position: absolute;
  top: 5rem;
  font-size: 7rem;
  font-weight: 300;
  color: #f03535;
  letter-spacing: 1rem;
  text-shadow: 0.2rem 0.2rem 0.5rem #aaa;
}

.buttons {
  position: absolute;
  top: 5rem;
  left: 5rem;
  display: flex;
  flex-direction: column;
}

.buttons button {
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  color: #f03535;
  border: none;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  box-shadow: 0.3rem 0.3re 0.8rem #eee;
  margin: 1rem 0;
  cursor: pointer;
}

.signin-btn {
  background-color: #e7e7e7;
}

.signun-btn{
    background-color: #fff;
}


/* CSS 018 : 빈 div박스에 높은 width ,height + shadow넣어서 전체를 감싸는 효과 넣음 */
.form-bg {
  position: absolute;
  width: 65rem;
  height: 65rem;
  box-shadow: 1.5rem 1.5rem 1.5rem #ddd;
}

.form {
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.form-input-wrapper {
  margin: 1.5rem 0;
  /* css 017 shadow 오른쪽, 아래 만듬 */
  box-shadow: 0.5rem 0.5rem 0.5rem #eee;
  border-radius: 5rem;
}

.form input {
  width: 50rem;
  height: 5rem;
  background-color: #fff;
  font-size: 1.7rem;
  padding: 0 2rem;
  letter-spacing: 0.2rem;

  /* css 016 : shadow Trick : shadow만들고 border 없애기*/
  border: none;
  border-radius: 5rem;

  transition: box-shadow 0.3s; /* css 020 */
}

.form-input {
  /* css 016 */
  /* css 017 , inset : 그림자가 박스 안에 생기게 함 - shadow 왼쪽, 위 */
  box-shadow: 0.3rem 0.3rem 0.5rem #eee inset;

  color: #888;
}

/* css 020 */
.form-input:focus {
  box-shadow: 0.5rem 0.5rem 1rem #eee inset;
}

.message {
  display: none;
}

.form-btn {
  box-shadow: 0.5rem 0.5rem 1rem #ddd;
  color: #f03535;
  margin: 2rem 0;
  letter-spacing: 0.2rem;
  font-weight: bold;
  cursor: pointer;
}

/* hover효과 : shadow 진하게 넣는 것으로 세련되게 표현됨 */
.form-btn:hover {
  box-shadow: 0.5rem 0.5rem 2rem #ddd;
}
